﻿@using System.Web.Mvc.Html
@model DAL.Entities.Product

@{
    ViewBag.Title = "Create";
}

<div class="container">
    <div class="row">
        <h2>Create</h2>
        @using (Html.BeginForm("Create", "Products", FormMethod.Post, new {@class = "form-horizontal"}))
        {
            @Html.AntiForgeryToken()


            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            {
                var textVals = Model.TextValues.ToList();
                for (int i = 0; i < textVals.Count; i++)
                {
                    <div class="form-group">
                        <label for="@($"product_TextValues_{i}__Val")" class="col-sm-2 control-label">@(textVals[i].Attribute.Name)</label>
                        <div class="col-sm-5">
                            @Html.TextBox($"product.TextValues[{i}].Val", "", new {@class = "form-control"})
                            @Html.Hidden($"product.TextValues[{i}].AttributeId", textVals[i].Attribute.Id)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }

                var intVals = Model.IntValues.ToList();
                for (int i = 0; i < intVals.Count; i++)
                {
                    <div class="form-group">
                        <label for="@($"product_IntValues_{i}__Val")" class="col-sm-2 control-label">@(intVals[i].Attribute.Name)</label>
                        <div class="col-sm-2">
                            @Html.TextBox($"product.IntValues[{i}].Val", "", new {@class = "form-control", @type="number"})
                            @Html.Hidden($"product.IntValues[{i}].AttributeId", intVals[i].Attribute.Id)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }

                var decimalVals = Model.DecimalValues.ToList();
                for (int i = 0; i < decimalVals.Count; i++)
                {
                    <div class="form-group">
                        <label for="@($"product_DecimalValues_{i}__Val")" class="col-sm-2 control-label">@(decimalVals[i].Attribute.Name)</label>
                        <div class="col-sm-2">
                            @Html.TextBox($"product.DecimalValues[{i}].Val", 0.0m, new {@class = "form-control"})
                            @Html.Hidden($"product.DecimalValues[{i}].AttributeId", decimalVals[i].Attribute.Id)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }

                var optVals = Model.OptionValues.ToList();
                for (int i = 0; i < optVals.Count; i++)
                {
                    <div class="form-group">
                        <label for="@($"product.OptionValues[{i}].ValId")" class="col-sm-2 control-label">@(optVals[i].Attribute.Name)</label>
                        <div class="col-sm-2">
                            <select name="@($"product.OptionValues[{i}].ValId")" class="form-control">
                                @{
                                    var opts = optVals[i].Attribute.Options;
                                    for (int j = 0; j < opts.Count; j++)
                                    {
                                        <option value="@(opts[j].Id)">@(opts[j].Name)</option>
                                    }
                                }
                            </select>
                            @Html.Hidden($"product.OptionValues[{i}].AttributeId", optVals[i].Attribute.Id)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
            }
            @Html.Hidden("product.EntityId", Model.Entity.Id)
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Create" class="btn btn-default"/>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
