﻿
@using System.Collections.Concurrent
@using BLL.Util
@using DAL.Entities.EAV
@model IEnumerable<DAL.Entities.Product>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-3">
        <br />
        
        @using (Html.BeginForm("Index","Products", FormMethod.Get))
        {
            <div class="form-group">
                    <input type="submit" value="Filter" class="btn btn-success col-md-12" />
            </div>
            var textCrits = ((Criteria)ViewBag.Criteria).TextCriterias;
            for (int i = 0; i < textCrits.Count; i++)
            {
                var c = textCrits[i];
                <div class="form-group">
                    <label for="@($"crit.TextCriterias[{i}].Val")" class="col-md-12">@c.Name</label>
                    @Html.TextBox($"crit.TextCriterias[{i}].Val", "", new {@class = "col-md-12 form-control"})
                    @Html.Hidden($"crit.TextCriterias[{i}].AttributeId", c.AttributeId)
                    @Html.Hidden($"crit.TextCriterias[{i}].Name", c.Name)
                </div>
            }
            var intCrits = ((Criteria) ViewBag.Criteria).IntCriterias;
            for (int i = 0; i < intCrits.Count; i++)
            {
                var c = intCrits[i];
                <div class="form-group">
                    <label for="@($"crit.IntCriterias[{i}].Val")" class="col-md-12">@c.Name</label>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.TextBox($"crit.IntCriterias[{i}].MinVal", c.MinVal, new { @class = "form-control", @type = "number" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBox($"crit.IntCriterias[{i}].MaxVal", c.MaxVal, new { @class = "form-control", @type = "number" })
                        </div>
                    </div>
                    @Html.Hidden($"crit.IntCriterias[{i}].AttributeId", c.AttributeId)
                    @Html.Hidden($"crit.IntCriterias[{i}].Name", c.Name)
                </div>
            }
            var decCrits = ((Criteria) ViewBag.Criteria).DecimalCriterias;
            for (int i = 0; i < decCrits.Count; i++)
            {
                var c = decCrits[i];
                <div class="form-group">
                    <label for="@($"crit.DecimalCriterias[{i}].Val")" class="col-md-12">@c.Name</label>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.TextBox($"crit.DecimalCriterias[{i}].MinVal", c.MinVal, new {@class = "form-control", @type = "number"})
                        </div>
                        <div class="col-md-6">
                            @Html.TextBox($"crit.DecimalCriterias[{i}].MaxVal", c.MaxVal, new {@class = "form-control", @type = "number"})
                        </div>
                    </div>
                    @Html.Hidden($"crit.DecimalCriterias[{i}].AttributeId", c.AttributeId)
                    @Html.Hidden($"crit.DecimalCriterias[{i}].Name", c.Name)
                </div>
            }

            var optCrits = ((Criteria) ViewBag.Criteria).OptionCriterias;
            for (int i = 0; i < optCrits.Count; i++)
            {
                var c = optCrits[i];
                <div class="form-group">
                    @{
                        <label for="" class="col-md-12">@(c.Name)</label>
                        var values = ((Entity) ViewBag.Entity).OptionAttributes.FirstOrDefault(a => a.Id == c.AttributeId)?.Options;
                        for (int j = 0; j < values?.Count; j++)
                        {
                            var v = values[j];
                            <label>
                                @if (c.ValIds.Contains(v.Id))
                                {
                                    <input type="checkbox" name="@($"crit.OptionCriterias[{i}].ValIds")" checked="checked" value="@(v.Id)"/>
                                    @(v.Name)
                                }
                                else
                                {
                                    <input type="checkbox" name="@($"crit.OptionCriterias[{i}].ValIds")" value="@(v.Id)"/>
                                    @(v.Name)
                                }
                            </label>
                            <br/>
                        }
                        @Html.Hidden($"crit.OptionCriterias[{i}].Name", c.Name)
                        @Html.Hidden($"crit.OptionCriterias[{i}].AttributeId", c.AttributeId)
                    }
                </div>
            }

        }
    </div>
    <div class="col-md-9">
        <h2>Books</h2>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        @if (Model.Any())
        {
            var entity = (Entity) (ViewBag.Entity);
            <table class="table" id="products">
                <tr>
                    @foreach (var i in entity.TextAttributes)
                    {
                        <th>
                            @(i.Name)
                        </th>
                    }
                    @foreach (var i in entity.IntAttributes)
                    {
                        <th>
                            @(i.Name)
                        </th>
                    }
                    @foreach (var i in entity.DecimalAttributes)
                    {
                        <th>
                            @(i.Name)
                        </th>
                    }
                    @foreach (var i in entity.OptionAttributes)
                    {
                        <th>
                            @(i.Name)
                        </th>
                    }
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        @foreach (var val in item.TextValues)
                        {
                            <td>
                                @(val.Val)
                            </td>
                        }
                        @foreach (var val in item.IntValues)
                        {
                            <td>
                                @(val.Val)
                            </td>
                        }
                        @foreach (var val in item.DecimalValues)
                        {
                            <td>
                                @(val.Val)
                            </td>
                        }
                        @foreach (var val in item.OptionValues)
                        {
                            <td>
                                @(val.Val.Name)
                            </td>
                        }
                        <td>
                            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                        </td>
                    </tr>
                }

            </table>
        }
        else
        {
            <p>Nothing to show</p>
        }
    </div>
</div>
