﻿@model IEnumerable<DAL.Entities.EAV.Entity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Text Attributes
        </th>

        <th>
            Int Attributes
        </th>

        <th>
            Decimal Attributes
        </th>
        

        <th>
            Option Attributes
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @foreach (var attr in item.TextAttributes)
            {
                <p>
                    @Html.DisplayFor(modelAttribute => attr.Name)
                </p>
            }
        </td>
        <td>
            @foreach (var attr in item.IntAttributes)
            {
                <p>
                    @Html.DisplayFor(modelAttribute => attr.Name)
                </p>
            }
        </td>
        <td>
            @foreach (var attr in item.DecimalAttributes)
            {
                <p>
                    @Html.DisplayFor(modelAttribute => attr.Name)
                </p>
            }
        </td>
        <td>
            @foreach (var attr in item.OptionAttributes)
            {
                <p>
                    @Html.DisplayFor(modelAttribute => attr.Name)
                </p>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
