﻿@model DAL.Entities.EAV.Attributes.AttributeInt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AttributeInt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Entity.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entity.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinVal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxVal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
